cycler==0.10.0
deprecation==2.1.0
entrypoints==0.3
frozendict==1.2
idna==2.8
lxml==4.6.3
matplotlib==3.3.3
mccabe==0.6.1
packaging==20.9
pillow==8.1.0
socketio-client-nexus==0.7.6
sseclient==0.0.27
temporal-cache==0.1.4
tzlocal==2.1
websocket-client==0.58.0
yfinance==0.1.59
humanfriendly==9.1
coloredlogs==15.0
